.cards-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 3rem;
}

.card{
    width: 536px;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #22122c;
}

.card:hover img{
    filter: grayscale(100%);
}

img{
    min-width: 500px;
    width: 500px;
    height: 350px;
    min-height: 350px;
    border-radius: 10px;
}

.card h1 {
    font-size: 2.5rem;
}

.card-desc {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-weight: bold;
    background-color: rgba(23, 4, 36,0.7);
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.card:hover .card-desc{
    transform: translateY(0%);
}
